* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  border: 1px solid blue;
}

main {
  width: 100%;
  /* position: relative; */
}

.section {
  min-height: 90vh;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin: 2rem;
}

.full-height {
  min-height: 100vh;
}

img {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  object-fit: fit;
}

h1 {
  /* opacity: 0; */
  display: block;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 0.7rem;
}

p {
  /* opacity: 0; */
  max-width: 70ch;
  margin-inline: auto;
  font-size: 1rem;
  text-align: center;
  line-height: 1.3;
  display: block;
  margin-bottom: 1rem;
}

/* Button container styling */
.buttons {
  display: flex;
  justify-content: center; /* Center buttons within the div */
  gap: 1rem; /* Space between buttons */
}

/* General button styling */
.button {
  padding: 0.6em 1.8em;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s ease-out, transform 0.15s ease-out, box-shadow 0.2s ease-out;
  text-decoration: none;
  color: white;
}

/* Main button specific styles */
.button.main {
  background-color: #007bff; /* A nice blue */
}

.button.main:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Secondary button specific styles */
.button.secondary {
  background-color: transparent; /* A neutral gray */
  border: 1px solid white;
}

.button.secondary:hover {
  background-color: #545b62; /* Darker gray on hover */
}

.button:active {
  border-color: rgb(202, 202, 202);
}