@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100vh;
  background: black;
  /* background-image: linear-gradient(
      rgba(255, 255, 255, 0.2) 0.04em,
      transparent 0.04em
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0.04em, transparent 0.04em);
  background-size: 4em 4em; */
}
