.testing {
  .nav {
    border: 1px solid black;
    min-height: 20px;
    height: 100%;
    width: 1000px;
    text-transform: uppercase;
    text-align: center;
    padding-block: 1rem;
    font-size: 2rem;
  }
}

.mx-auto {
  margin-inline: auto;
}

button {
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 4px;
}

.cloud-wrapper {
  position: relative;
  img {
    width: 300px;
    height: 230px;
  }

  .cloud-png {
    position: absolute;
    top: 120px;
    left: 400px;
    width: 220px;
    height: 190px;
  }
  .cloud-png-1 {
    position: absolute;
    width: 350px;
    height: 200px;
    top: 220px;
    left: -300px;
  }
}
