body {
  overflow-x: hidden;
}

.testing {
  .nav {
    border: 1px solid black;
    min-height: 20px;
    height: 100%;
    width: 1000px;
    text-transform: uppercase;
    text-align: center;
    padding-block: 1rem;
    font-size: 2rem;
  }
}

.mx-auto {
  margin-inline: auto;
}

button {
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 4px;
}

.cloud-wrapper {
  position: relative;
  img {
    width: 300px;
    height: 230px;
  }

  .cloud-png {
    position: absolute;
    top: 120px;
    left: 400px;
    width: 220px;
    height: 190px;
  }
  .cloud-png-1 {
    position: absolute;
    width: 350px;
    height: 200px;
    top: 220px;
    left: -300px;
  }
}

.mb-2 {
  margin-bottom: 2rem;
}
.mb-1 {
  margin-bottom: 1rem;
}

.cool-section {
  .container {
    max-width: 900px;
    margin-inline: auto;
    padding: 0rem 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
// #horizontalSection {
//   display: flex;
//   width: 400vw; /* For 4 slides */
// }
// .slide {
//   width: 100vw;
//   flex-shrink: 0;
// }

.horizontal-container {
  width: 400%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;

  .panel {
    width: 100%;
    // font-size: 4rem;
    // font-weight: bold;
  }

  .blue {
    border: 1px solid blue;
  }

  .red {
    border: 1px solid red;
  }

  .orange {
    border: 1px solid orange;
  }

  .purple {
    border: 1px solid purple;
  }
}
